<html ng-app="helloApp" lang="en">
	<head>
		<title> Fetch Park </title>
		<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
				<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
					<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"> </script>
					<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js" ></script>
					<script type="text/javascript" src=
							"./resources/fusioncharts/fusioncharts.js"></script>
					<script type="text/javascript"
							src="./resources/fusioncharts/fusioncharts.charts.js"></script>
					<script type="text/javascript" src="./resources/fusioncharts/themes/fusioncharts.theme.zune.js"></script>
					<script src="./js_files/chart.js"></script>
					<script src="./js_files/time.js"> </script>
					<script src="./js_files/typeEnum.js"></script>
					<link rel="stylesheet" type="text/css" href="indexcss.css">


						<script> 

							function validateForm() {
							var x = document.forms["myForm"]["type"].value;
							if (x == null || x == "") {
							alert("Type must be selected");
							return false;
							}
							}

						</script>


					</head>
					<body ng-controller="VehicleCtrl">

						<div zingchart id="chart-1" zc-json="myJson" zc-width="100%" zc-height="568px">
						</div>

						<div class="container-fluid">
							<div class="jumbotron">

								<h1> Fetch Park </h1> 
							</div> 
						</div>
						<div class="row">
							<div class="col-sm-6">          
								<table class="table table-condensed">
									<thead>
										<tr>
											<th> State </th>
											<th> Plate </th>
											<th> Time </th>
											<th> Type </th>
											<th> Remove </th>
										</tr>
									</thead>
									<tr ng-repeat="vehicle in vehicles">
										<td>{{vehicle.state}}</td>
										<td>{{vehicle.plate}}</td>
										<td>{{vehicle.time}}</td>
										<td>{{vehicle.type}}</td>
										<td>
											<input type ="button" value="Remove" class="btn btn-default" ng-click="removeRow(vehicle.plate)">
											</td>      
										</tr>
									</table>
								</div> 

								<div class="col-sm-6" id="chartContainer">FusionCharts XT will
									load here!</div>
								<div class="clearfix visible-lg"></div>


								<input type="hidden" id="regularCount"
										value= "0"/>

								<input type="hidden" id="termCount"
										value="0" />

								<input type="hidden" id="valetCount"
										value="2" />

								<input type="hidden" id="remainingCount"
										value= "198"/>

							</div>

							<div class="row">

								<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" 
										id="addV"> Add Vehicle
								</button> 
							</div> 


							<!-- Modal -->
							<div class="modal fade" id="myModal" role="dialog">
								<div class="modal-dialog">

									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title"> Add Vehicle Details</h4>
										</div>

										<form name="myForm" class="form-inline" role="form" ng-submit="addRow()" onsubmit="return validateForm()">      
											<div class="modal-body">

												<div class="form-group">
													<label for="state"> State </label>
													<input type="text" class="form-control" name="state" placeholder="Enter State Details" ng-model="state" required>


														<label for="plate"> Plate </label>
														<input type="text" class="form-control" name="plate" placeholder="Enter number plate details" ng-model="plate" required>


															<div class="types">
																<label for="type" placeholder="type"> Type </label>
																<select onchange="Dropdown(this)" ng-model="type" name="type">
																	<option value="Term" selected> Term </option>
																	<option value="Valet"> Valet </option>
																	<option value="Regular"> Regular </option>
																</select> </div>
															<div class="modal-footer">
																<input type="submit" value="Submit" class="btn btn-default"/>

															</div> 
														</div>
													</div>
												</form>


											</div>
										</div>
									</div>
								</div>
							</div>

						</body>
					</html>    


					