table {
    border-collapse: collapse;
    width: 100%;
	margin-top:50px;
	margin-left:20px;
	margin-right:20px;
	
	border:1px solid black;
}

th, td {
	  border-right: solid 1px;
  border-left: solid 1px ; 
	  

    text-align: left;
    padding: 8px;
	
}


th {
    background-color: #808080;
    color: white;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(./images/park.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

body {
	background-color:white;
}

#chartContainer{
	
}

.btn-default
{
	color: blue;
}

.modal-body{
    width: 100%
}

.modal-body{
    text-align: left;
}

label {
	margin-right:20px;
	margin-left:20px;
    margin-bottom: 20px;
	margin-top:20px;
}



#addV{
	margin-left:30%;
	margin-top:none;
	background-color:black;
	align:center;
	color:white;
}


